@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/*VARIABLES*/
/*$font-base: 'MetaPro', Arial, sans-serif;*/
$font-base: 'PT Sans', Arial, sans-serif;
$link-color: #4969ba;
$link-hover: #ff6600;


/* BASE */
html, body {height: 100%}
body {
  background-color: #fff;
  font-family: $font-base;
  font-weight: 400;
  font-size:16px;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
a {
  text-decoration: none;
  color: $link-color;
}
a:vistided {
  color: #7281a8;
}
h2 {
  margin-right: -0.15em;
  margin-bottom: 15px;
  font-size: 1.1em;
  font-weight: 700;
}
h1, h2, p, ul, ol {
    line-height: 1.5;
}


.container {
  width: 1290px;
  margin: 0 auto;
}
.content {
  padding: 0 5% 5em;
}
.wrapper {
  min-height: 100%;
  position: relative;
  /*padding-bottom: 101px;
  &:after {
    content: "";
    display: block;
  }*/
}
.clear {clear:both;}
.tag {
  font-size: .9em;
  font-weight: 400;
  color: #a7a9ac;
  &:hover {
    color: $link-hover;
  }
  &--span{
    color: #000;
    font-size: em(14);

    &:hover {color:#000;}
  }
}


.nav {
  padding: 44px 0 45px;

  &__item {
    display: inline;
    margin-right: 1.2em;
    color: #a7a9ac;
    &--active {}
    @media screen and (max-width: 736px) {
      display: block;
      line-height: 2em;
    }
    
  }
  &__link {
    color: #000;
    &:hover {
      color: $link-hover;
    }
    &--personal {
      color: #c10000;
    }
  }
}

.logo {margin-bottom: 15px;}

.description {
  margin-bottom: 80px;
  &__text {
    line-height: 1.5;
  }
  &__link {
    color: #000;
  }
}

.row {
  &--info {
    margin: 2em 0;
  }
  &--info-block{
    margin: 2.2em 0;
  }
}
.col {
  width:33%;
  float: left;
  display: inline-block;
  vertical-align: top;
  
  &__wrapper{
    margin: 0px 48px 28px 0;
    &--fifty {
      margin-right: 0;
    }
  }
  &__list {
    margin-bottom: 15px;
  }
  &__item {
    margin-bottom:6px;
  }
  &__link {
    color: $link-color;
    border-bottom: 1px solid rgb(227,230,242);
    &:visited {
      color: #7281a8;
      border-bottom: 1px solid rgb(231,233,239);
    }
    &:hover {
      color: $link-hover;
    }
    &--contacts {
      border-bottom: 0;
    }
    &--mail{
      color:#000 !important;
      border-bottom: 0 !important;
    }
  }
  &__more {
    font-size: .9em;
    color:#a7a9ac;
    &:after{
      content: '\f2ee';
      font-family: Material-Design-Iconic-Font;
      font-weight: normal;
      font-style: normal;
      font-size: .8em;
      margin-left: 7px;
    }
    &:hover {
      color: $link-hover;
    }
  }
  &--fifty {
    width: 50%;
  }
  &--twenty {
    width: 25%;
    margin-bottom: 2.7em;

    @media screen and (max-width: 1024px) {width: 33% !important;}
    @media screen and (max-width: 736px) {width: 50% !important;}
    @media screen and (max-width: 480px) {width: 100% !important;}
  }

  @media screen and (max-width: 736px) {
    width: 100%;
  }
}

.ico {    
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: 3px;
  background-size: 100% 100%;

  &--mail{
    width: 18px;
    height: 14px;
    background: url("../img/ico/ico-mail.png");
    margin-right: 7px;
  }
  &--be{
    width: 20px;
    height: 12px;
    background: url("../img/ico/ico-be.png")
  }
  &--tw{
    width: 18px;
    height: 15px;
    background: url("../img/ico/ico-tw.png");
    margin-right: 6px;
  }
  &--inst{
    width: 19px;
    height: 19px;
    background: url("../img/ico/ico-inst.png")
  }
}

.copyright {
  margin: 4em 5% 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  &__text {
    font-size:  0.875em;
    color: #d1d3d4;
  }
}

/*MAIN*/
.main {
  padding: 0 6% 0;
  max-width: 740px;

  &__title {
    font-size: em(18);
    font-weight: 700;
    /*margin-bottom: 2em;*/
    margin-bottom: 0;

    &--post {margin-bottom: 2em;}
  }
  &__title-link {
    color: #000;
    text-decoration: underline;

    &:hover { text-decoration: none; }
  }

  &--nopadding {
    padding: 0;
    max-width: 1290px;
  }
}

.tag-list {
  margin-bottom:3em;

  &__item {
    display: inline;
    margin-right: .3em;
    color: #939598;
    font-size: 1em;
  }

  &__link {
    color: #000;
    font-size: 1em;

    &--post {
      font-size: em(14);
      text-transform: lowercase;
    }
    &.active {color: #939598;}
  }
  &--post {
    margin-bottom: 0;
  }
  &--books {
    margin-bottom: 1.5em;
  }
}

/*POST*/
.post {
  margin-bottom:2.3em;
  
  &__header{
    margin-bottom: 1.2em;
  }
  &__date{
    font-size: em(14);
    color:#a7a9ac;
    display: block;
    margin-bottom: .8em;
  }
  &__title{
    font-size: em(30);
    line-height: 1.1;
    font-weight: 400;
    &-link {
      font-size: 1em;
      color: #000;
      border-bottom: 1px solid #a3a3a3;
      &:hover {
        color: $link-color;
        border-bottom: 1px solid rgb(227,230,242);
      }
      &:active {
        color: $link-color;
        border-bottom: 1px solid rgb(227,230,242);
      }
      &:visited {
      color: #7281a8;
      border-bottom: 1px solid rgb(231,233,239);
      }
    }
  }
  &__description{
    p {
      color: #58595b;
      margin-bottom: .5em;
      font-size: em(18);
    }
  }
  &__content {
    p {
      margin-bottom: .5em;
      font-size: em(18);
      color: #58595b;
    }
    a{
      color: $link-color;
      border-bottom: 1px solid rgb(227,230,242);
      &:visited {
        color: #7281a8;
        border-bottom: 1px solid rgb(231,233,239);
      }
      &:hover {
        color: $link-hover;
      }
    }
    img {
      margin: .7em 0 0;
      max-width: 100%;
      height: auto;
    }
    .img-description {
      display: block;
      margin-bottom: 1rem;
      font-size: 1rem;
      color: #939598;
    }
  }
  &__more{
    font-size: em(14);
    color: #a7a9ac;
    &:hover,&:active{
      color:#ff6600;
    }
  }
  &__img{
    max-width: 100%;
    height: auto;
    margin:1.2em 0;
  }
  &__tag-list {
    margin-top: 2em;
    &-title {
      float: left;
      line-height: 1.875em;
      margin-right: .5em;
      font-size: em(14);
      color: #939598;
    }
  }
  &--info {
    margin-bottom: 1em;
  }
}
.separator {
    width: 100%;
    height: 1px;
    background-color: #e6e7e8;
    border: 0;
    margin: .5em 0;
  }
.ending{
  margin-bottom: 3.3em;
  &__text {
    color: #d1d3d4;
  }
  &__link {
    color: #d1d3d4;
  }
  &--info {
    margin-bottom: 1em;
  }
}

.search-form {
  position: relative;
  width: 233px;
  &__input {
    font-size: em(14);
    box-sizing: border-box;
    border: 1px solid #e6e7e8;
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    outline: none;

    &:focus {border-color: #d7d7d7;}
  }
  &__submit {
    position: absolute;
    top: 9px;
    right: 2px;
    /*height: 100%;*/
    height: auto;
    background-color: #fff;
    border: 0;
    color: #d1d3d4;
    cursor: pointer;
    /*border-top: 1px solid #e6e7e8;
    border-right: 1px solid #e6e7e8;
    border-bottom: 1px solid #e6e7e8;*/
    outline: none;
    padding: 0 .5em;

    &--close {display: none;}
  }
  /*&__input:focus ~ &__submit {
    color: #d7d7d7;
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
  }*/
  &--size-medium {
    width: 298px;
  }
}

.search-results{

  &-count {
    margin: .5em 0 2em;
  }

  &-highlight {
      background-color: #ffe6be;
  }
}

.info-block {
  padding-right: 1.4em;

  &__pic-wrapper {
    position: relative;
    margin-bottom: .4em;
    display: block;
  }
  &__pic {
    max-width: 100%;
    height: auto;
  }
  &__title {
    font-size: em(22);
    line-height: 1.3;
    margin: .5em 0 .3em;
  }
  &__text {
    line-height: 1.3;
  }

}
.rating {
  position: absolute;
  bottom: 1em;
  left: 1em;
  display: block;
  border-radius: 50%;
  width: em(34);
  height: em(34);
  line-height: em(34);
  font-size: em(18);
  color: #fff;
  text-align: center;
  z-index: 1;

  &--good {background-color: #14b43a}
  &--mid {
    background-color: #ffd316;
    color: #000;
  }
  &--bad {background-color: #c10000;}
}

.filter-sorter {
  float:right;

  &__label {
    margin-right: .8em;
    font-size: 1em;
    color: #a7a9ac;
  }
  &__list {
    display: inline;
  }

  &__item {
    display: inline;
    margin-right: .8em;
    font-size: 1em;
    color: $link-color;
    cursor: pointer;
    
    &:hover {
      /*border-bottom:1px solid rgb(227,230,242);*/
      color: $link-hover;
    }
    &.active{
      color: #58595b;
    }
  }
}

#mixxx .mix{
    display: none;
}
.sort-asc {
  padding-right: 15px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9IiM2NTY1NjUiPjxwYXRoIGQ9Ik0wIDBoNHYyaC00ek0wIDNoNnYyaC02ek0wIDZoOHYyaC04eiIvPjwvc3ZnPgo=') no-repeat right 55%;
}
.sort-desc {
  padding-right: 15px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9IiM2NTY1NjUiPjxwYXRoIGQ9Ik0wIDZoNHYyaC00ek0wIDNoNnYyaC02ek0wIDBoOHYyaC04eiIvPjwvc3ZnPgo=') no-repeat right 55%;
}
.personal-pic {
  max-width: 100%;
  height: auto;
  margin:5em 0;
  @media screen and (max-width: 736px) {margin:0;}
  &__wrapper {text-align: center;}
}